* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, "sans-serif";
    font-size: 14px;
    color: #000000;
    height: 100%;
    background-color: whitesmoke;
}

p {
    margin-top: 0;
}

main {
    width: 1070px;
    margin: 0 auto;
}

header {
    border-bottom: solid 1px #000000;
}

article {
    width: 810px;
    float: left;
    border-right: solid 1px #000000;
}

#large {
    padding: 10px 10px 10px 0;
}

#thumbs {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px 0;
    height: 165px;
    border-top: solid 1px #000000;
}

#thumbs img {
    margin-right: 10px;
    border: solid 1px #FFFFFF;
    transition: all 0.5s;
}

#thumbs img:hover {
    border: solid 1px #000000;
    cursor: pointer;
}

aside {
    float: right;
    width: 250px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}

footer {
    clear: both;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    border-top: solid 1px #000000;
}